.Description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: "Source Sans";
  width: 100%;
  text-align: center;
  min-height: 1.375rem;
  white-space: pre-wrap;

  padding: 0.5rem;
}

.ObjectiveGrid {
  --font-size: unset;
  --num-items: 5;
  --per-column: 5;

  padding-left: 0.5rem;
  padding-right: 0.5rem;

  display: grid;
  justify-content: flex-start;
  grid-auto-flow: column;
  grid-template-rows: repeat(min(var(--num-items), var(--per-column)), auto);
  gap: 0.25rem;

  max-width: 80vw;
  overflow-x: auto;
}

.ObjectiveButton {
  font-size: var(--font-size);

  user-select: none;
}
