.Modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100dvh;

  visibility: hidden;

  flex-direction: column;
  align-items: center;
  color: #eee;
  backdrop-filter: blur(0.5rem);
}

.Modal .Content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  position: relative;
  width: 100dvw;
  height: 100dvh;

  padding: 0.375rem;

  overflow-y: auto;
}

.Modal .Button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: var(--interactive-bg);
  border: var(--border-size) solid var(--background-color);
  border-radius: 100%;
  aspect-ratio: 1;
  width: 2.25rem;
  color: #eee;
  cursor: pointer;
  font-size: 1.125rem;
  z-index: 2;
}

.Modal .Button:hover {
  background-color: var(--hovered-bg);
  border: var(--border-size) solid var(--neutral-border);
}

.Modal .Button div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
  height: 100%;
  font-weight: bold;
  text-shadow: none;
}

.Modal .Title {
  padding: 0.25rem 2rem;
  text-align: center;
  flex-basis: 100%;
  font-size: 2.5rem;
}

.Modal .Body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 0 0.25rem 0.25rem 0.25rem;
}

@media only screen and (max-width: 37.5rem) {
  .Modal .Button {
    left: 0.5rem;
    top: 0.5rem;
  }
}
