.Modal {
  position: fixed;
  left: 0;
  top: 0px;
  width: 100vw;
  height: 100dvh;

  visibility: hidden;

  flex-direction: column;
  align-items: center;
  color: #eee;
}

.Overlay {
  position: absolute;
  width: 100vw;
  height: 100dvh;
  background-color: black;
  opacity: 0.85;
}

.Modal .Content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  position: relative;
  width: 100dvw;
  height: 100dvh;

  padding: 6px;
}

.Modal .Button {
  position: absolute;
  top: 6px;
  margin-right: 90vw;
  background-color: #222;
  border-radius: 100%;
  aspect-ratio: 1;
  width: 36px;
  color: grey;
  cursor: pointer;
  font-size: 18px;
}

.Modal .Button div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
  height: 100%;
  font-weight: bold;
  text-shadow: none;
}

.Modal .Title {
  padding: 4px 32px;
  text-align: center;
  flex-basis: 100%;
  font-size: 40px;
}

.Modal .Body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 0 4px 4px 4px;
}

@media only screen and (max-width: 600px) {
  .Modal .Button {
    margin-right: 0;
    left: 8px;
  }
}
