.NonGameHeader {
  position: fixed;
  top: 0;
  z-index: 1;

  align-items: flex-start;
  justify-content: flex-start;
}
.LangSelect {
  display: flex;
  position: fixed;
  top: var(--thirty-two-pixel);
  left: max(calc(30px + (60 - 30) * ((100vw - 1280px) / (2560 - 1280))), 30px);
  z-index: 2;
}

@media only screen and (max-width: 900px) {
  .LangSelect {
    bottom: var(--sixty-four-pixel);
    right: var(--thirty-two-pixel);
    left: unset;
    top: unset;
  }
}
