node_modules/*

build/*

.next/*

server/twilight-imperium-360307-*.json
server/completed-games.json
server/processed-logs.json

# Firebase Emulator files
.firebaserc
firebase-debug.log
firebase.json
firestore-debug.log