.ToggleContainer {
  --transition-speed: 100ms;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-radius: 1.25rem;
  border: var(--border-size) solid var(--disabled-border);
  gap: 0.25rem;
  white-space: nowrap;

  user-select: none;
  font-size: 0.875rem;
}

.ToggleContainer::before {
  content: "";
  border-radius: 1.25rem;
  background-color: var(--interactive-bg);
  position: absolute;
  margin-left: 1.4rem;
  top: 0;
  width: calc(100% - 2.8rem);
  height: 100%;
  z-index: -1;

  transition: var(--transition-speed) margin, var(--transition-speed) width;
}

.ToggleContainer.Negative::before {
  margin-left: 1.4rem;
  width: calc(100% - 1.4rem);
  background-color: var(--selected-bg);
}

.ToggleContainer.Positive::before {
  margin-left: 0;
  width: calc(100% - 1.4rem);
  background-color: var(--selected-bg);
}

.ToggleContainer > input[type="checkbox"] {
  appearance: none;
}

.ToggleContainer > input[type="checkbox"]::before {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 0.85rem;
  height: 0.85rem;
  border-radius: 100%;
  margin: 0.125rem 0.25rem 0.125rem 0.125rem;

  transition: var(--transition-speed) background, var(--transition-speed) color;
}

.ToggleContainer.disabled,
.ToggleContainer.disabled:hover {
  background-color: var(--disabled-bg);
  border: var(--border-size) solid var(--disabled-border);
  color: var(--interactive-bg);
  cursor: default;
}

.ToggleContainer > input[type="checkbox"]::before {
  border-radius: 100%;
  color: var(--selected-bg);
  background-color: var(--light-bg);
  font-weight: bold;
}

.ToggleContainer > input[type="checkbox"]:checked::before {
  background-color: var(--selected-border);
  color: var(--background-color);
}

input[type="checkbox"].Positive::before {
  content: "✓";
  font-size: 0.7rem;
}

input[type="checkbox"].Negative::before {
  content: "⤫";
  font-size: 0.8rem;
}

.ToggleContainer * {
  cursor: pointer;
}

.ToggleContainer.disabled * {
  cursor: default;
}
