.StrategyCardSection {
  width: 34.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@media only screen and (max-width: 56.25rem) {
  .StrategyCardSection {
    width: calc(100dvw - 1.5rem);
  }

  .Table {
    width: 100%;
    display: block;
    overflow-y: scroll;
    white-space: nowrap;
  }
}
