.TechModal {
  display: grid;
  width: 100%;
  gap: 0.5rem;
  grid-auto-flow: row;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: flex-start;
}

.TechsSection {
  width: 34.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.HistogramSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  gap: 2rem;
}

@media only screen and (max-width: 56.25rem) {
  .TechModal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .TechModal > div {
    width: 90%;
  }

  .TechsSection {
    width: calc(100dvw - 1.5rem);
  }

  .HistogramSection {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media only screen and (max-width: 37.5rem) {
}
