.Circle {
  border-radius: 100%;
  border: var(--border-size) solid var(--border-color);
  width: var(--size);
  height: var(--size);
}

.tag {
  position: absolute;
  background-color: var(--light-bg);
  border-radius: 100%;
  margin-top: 58%;
  margin-left: 60%;
  top: 0;
  left: 0;
  z-index: 1;
}
