.Expansions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
}

.SetupGrid {
  width: 100%;
  height: calc(100dvh - 4rem);
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 13rem 1fr 10rem;
  grid-template-columns: 28vw 1fr 28vw;
  grid-template-areas:
    "opt  mid rand"
    "left mid right"
    "trac mid start";
  align-items: center;
  justify-items: center;
  row-gap: 0.25rem;
}

@media only screen and (max-width: 68.75rem) {
  .Expansions {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .SetupGrid {
    display: none;
  }
}
