.TechTree {
  display: flex;
  flex-direction: column;
}

.TechTree > div {
  padding-bottom: 1px;
  width: 100%;
  box-sizing: border-box;
}

.TechTree :nth-child(2) {
  padding-bottom: 0;
}

.TechTree :nth-child(n + 5) {
  display: flex;
  grid-column: span 2;
  align-items: center;
  justify-content: center;
}

.TechTreeRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.125rem;

  width: 100%;
}

.TechTreeElement {
  border-radius: 50%;
  width: 0.25rem;
  height: 0.25rem;
  box-sizing: border-box;
}

.TechTreeElement:not(.viewOnly) {
  cursor: pointer;
}
