.SummaryColumn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  flex-shrink: 0;
  height: 100svh;
  justify-content: center;
  position: sticky;
  top: 0;
}

@media only screen and (max-width: 56.25rem) {
  .SummaryColumn {
    display: none;
  }
}
