.GamePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  min-height: calc(100dvh - 6.5rem);
  // height: 100dvh;
}

.ControlButtons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-evenly;
  align-items: center;

  position: fixed;
  top: 1rem;
  left: 29.375rem;
  font-size: 1.5rem;

  z-index: 2;
}

@media only screen and (max-width: 68.75rem) {
  .GamePage {
    min-height: calc(100dvh - 4.625rem);
  }

  .ControlButtons {
    left: unset;
    right: 1.25rem;
    top: 5rem;
    z-index: 1;
  }
}
