.GamePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100dvh;
}

@media only screen and (max-width: 56.25rem) {
  .GamePage {
    height: calc(100dvh - 4.625rem);
  }
}
