.QRCode {
  display: none;
  position: fixed;
  z-index: 1;
}

.MobileQRCode {
  display: block;
  position: fixed;
  inset-block-start: 0.5rem;
  inset-inline-end: 3.4rem;
  z-index: 1;
}

@media only screen and (min-width: 68.75rem) {
  .QRCode {
    display: block;
    inset-block-start: 3.25rem;
    inset-inline-start: 3.75rem;
  }

  .MobileQRCode {
    inset-block-start: 0.5rem;
    inset-inline-end: 6rem;
  }
}
