.Main {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-between;
  width: 100%;
  padding: 0.25rem;
}

@media only screen and (max-width: 68.75rem) {
  .Main {
    gap: 1.5rem;
  }
}

@media only screen and (max-width: 37.5rem) {
  .Main {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
