.Expansions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
}

@media only screen and (max-width: 900px) {
  .Expansions {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
