.StartingComponents {
  position: relative;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;

  font-size: 0.875rem;

  container-type: inline-size;
}

.StartingUnits {
  grid-template-columns: repeat(2, 1fr);
}

@container (inline-size > 23rem) {
  .StartingUnits {
    grid-template-columns: repeat(3, 1fr);
  }
}

.FactionIcon {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 100%;
  height: 100%;

  opacity: 0.25;
  z-index: -1;
  user-select: none;
}

.TFFactionSelectSection {
  display: flex;
  flex-direction: column;
  font-family: "Myriad Pro";
  width: 100%;
  gap: 0.5rem;
}

.TFFactionSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

@container (inline-size > 18rem) {
  .TFFactionSelectSection {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
