.StartingComponents {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--four-pixel);

  font-size: var(--fourteen-pixel);
}
