
.map {
  position: relative;
  width: 100%;
  height: 100%;
}

.mapColumn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 15%;
}

.rotateSixty {
  transform: rotate(60deg);
}
.rotateOneTwenty {
  transform: rotate(120deg);
}
.rotateOneEighty {
  transform: rotate(180deg);
}

/** 
 * 3% per
 */
.mapColumn.leftOne {
  left: 3%;
}
.mapColumn.leftTwo {
  left: 6%;
}
.mapColumn.leftThree {
  left: 9%;
}
.mapColumn.leftFour {
  left: 12%;
}
.mapColumn.rightOne {
  right: 3%;
}
.mapColumn.rightTwo {
  right: 6%;
}
.mapColumn.rightThree {
  right: 9%;
}
.mapColumn.rightFour {
  right: 12%;
}

/**
 * 13% per tile
 */
.mapColumn.twoTiles {
  height: 26%;
}
.mapColumn.threeTiles {
  height: 39%;
}
.mapColumn.fourTiles {
  height: 52%;
}
.mapColumn.fiveTiles {
  height: 65%;
}
.mapColumn.sixTiles {
  height: 78%;
}
.mapColumn.sevenTiles {
  height: 91%;
}
.mapColumn.eightTiles {
  height: 78%;
}
.mapColumn.nineTiles {
  height: 91%;
}

.eightPlayerMapColumn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 11%;
}
/** 
 * 3% per
 */
.eightPlayerMapColumn.leftOne {
  left: 2%;
}
.eightPlayerMapColumn.leftTwo {
  left: 4%;
}
.eightPlayerMapColumn.leftThree {
  left: 6%;
}
.eightPlayerMapColumn.leftFour {
  left: 8%;
}
.eightPlayerMapColumn.rightOne {
  right: 2%;
}
.eightPlayerMapColumn.rightTwo {
  right: 4%;
}
.eightPlayerMapColumn.rightThree {
  right: 6%;
}
.eightPlayerMapColumn.rightFour {
  right: 8%;
}

/**
 * ??? per tile
 */
.eightPlayerMapColumn.fiveTiles {
  height: 51%;
}
.eightPlayerMapColumn.sixTiles {
  height: 61%;
}
.eightPlayerMapColumn.sevenTiles {
  height: 71%;
}
.eightPlayerMapColumn.eightTiles {
  height: 81%;
}
.eightPlayerMapColumn.nineTiles {
  height: 91%;
}