.planetRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 72px;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
}

.planetRow.exhausted {
  background-color: #111;
  color: #666;  
}

.systemRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  border-bottom: 1px solid grey
}

.techRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  min-height: 32px;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
}

.techRow.exhausted {
  background-color: #111;
  color: #666;
}

.objectiveRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  align-items: stretch;
}