.planetRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 72px;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
}

.planetRow.exhausted {
  background-color: #111;
  color: #666;  
}

.systemRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
}

.techRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  min-height: 32px;
  position: relative;
}

.techRow.exhausted {
  background-color: #111;
  color: #666;
}

.objectiveRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: var(--four-pixel);
  padding-right: var(--four-pixel);
  position: relative;
  align-items: stretch;
}

.agendaRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  align-items: stretch;
}

.selectableRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px var(--four-pixel);
  position: relative;
}

.icon {
  display: flex;
  align-items: center;
  font-size: var(--thirty-two-pixel);
  line-height: var(--thirty-two-pixel);
  height: var(--thirty-two-pixel);
  width: var(--thirty-pixel);
  margin-right: var(--eight-pixel);
}

.clickable {
  cursor: pointer;
  font-weight: bold;
}

.icon.positive {
  color: darkgreen;
}

.icon.negative {
  color: darkred;
}

.checkmark {
  display: flex;
  align-items: center;
  color: darkgreen;
  cursor: pointer;
  font-size: 20px;
  z-index: 100;
  margin-right: 8px;
}