.planetRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 72px;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
}

.planetRow.exhausted {
  background-color: lightgrey;
}

.systemRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  border-bottom: 1px solid black; 
}

.techRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
}

.techRow.exhausted {
  background-color: lightgrey;
}

.objectiveRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
}