
.resourceBlock {
  position: relative;
  width: 58px;
  height: 72px;
  flex-shrink: 0;
}

.votingBlock {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 76px;
  height: 46px;
  white-space: nowrap;
  flex-shrink: 0;
}

.resourceSymbol {
  color: #fad54d;
  line-height: 28px;
  font-size: 28px;
  text-shadow: 0 0 4px #fad54d;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 46px;
  font-weight: bold;
}

.resourceTextWrapper {
  left: 0;
  top: 0;
  position: absolute;
  font-size: 14px;
  width: 42px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resourceBlock .influenceSymbol {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.influenceSymbol {
  color: #72d4f7;
  font-size: 45px;
  line-height: 44px;
  width: 42px;
  height: 46px;
  text-shadow: 0 0 4px #72d4f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resourceBlock .influenceTextWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.influenceTextWrapper {
  position: absolute;
  font-size: 14px;
  width: 42px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.votingBlock .influenceTextWrapper {
  left: 0;
  top: 0;
  font-size: 14px;
  width: 42px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}