
.resourceBlock {
  position: relative;
  width: 58px;
  height: 72px;
}

.resourceSymbol {
  color: #fad54d;
  font-size: 28px;
  text-shadow: 0 0 4px #fad54d;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 46px;
  font-weight: bold;
}

.resourceTextWrapper {
  left: 0;
  top: 0;
  position: absolute;
  font-size: 14px;
  width: 42px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.influenceSymbol {
  color: #72d4f7;
  font-size: 45px;
  width: 42px;
  height: 46px;
  text-shadow: 0 0 4px #72d4f7;
  position: absolute;
  top: 22px;
  left: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.influenceText {
  position: absolute;
  font-size: 15px;
  width: 32px;
  height: 32px;
  left: 22px;
  top: 33px;
  line-height: 32px;
  text-align: center;
}

.influenceTextWrapper {
  left: 17px;
  top: 26px;
  position: absolute;
  font-size: 14px;
  width: 42px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}