html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Slider";
  src: url("Slider_Updated.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro"), url("MYRIADPRO-REGULAR.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Source Sans";
  font-style: normal;
  font-weight: normal;
  src: url("SourceSans3-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("OpenSans-Regular.ttf") format("truetype");
  font-display: swap;
}

body {
  font-family: "slider";
  font-size: 16px;
  margin: 0px 96px;
  background-color: #222;
  color: #eee;
}

.symbol {
  font-family: "Source Sans";
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 8px;
  box-sizing: border-box;
}

.clickable {
  cursor: pointer;
  font-weight: bold;
}

.icon.positive {
  color: darkgreen;
  font-size: 120%;
}

.icon.negative {
  color: firebrick;
  font-size: 80%;
  margin: 3px 10px 3px
    3px;
}

.smallFont {
  font-size: 14px;
}

.mediumFont {
  font-size: 16px;
}

.largeFont {
  font-size: 18px;
}

.hugeFont {
  font-size: 20px;
}

.extraLargeFont {
  font-size: 24px;
}

a {
  all: unset;
  cursor: pointer;
}

a:hover {
  text-shadow: 0 0 4px #eee, 0 0 4px #eee;
  color: #111;
}

a:hover > div {
  background-color: #282828;
  /* box-shadow: 2px 2px 4px #000; */
}

button {
  all: unset;
  font-size: 18px;
  font-family: "Myriad Pro";
  background-color: #333;
  color: #eee;
  padding: 3px 5px;
  padding: 3px 5px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 1px 4px black;
  box-shadow: 0px 1px 4px black;
  border: 1px solid #333;
}

button:hover {
  background-color: #444;
}

button:focus-visible {
  border: 1px solid #999
}


button.faded {
  background-color: #222;
  color: #555;
  box-sizing: border-box;
  border: 1px solid #333;
}

button.selected {
  border: 1px solid #eee;
  background-color: #444;
  color: #fff;
}

button:disabled {
  background-color: #222;
  color: #555;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #333;
  cursor: default;
}

button:disabled.selected {
  background-color: #222;
  color: #fff;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #eee;
  cursor: default;
}

input[type="text"] {
  background-color: #333;
  color: #fff;
  box-sizing: border-box;
}

input[type="textbox"] {
  background-color: #333;
  color: #eee;
  border: 2px solid #777;
  border-radius: 4px;
  outline: none;
}

input[type="textbox"]:invalid {
  background-color: #333;
  color: #eee;
  border: 2px solid red;
  border-radius: 4px;
  outline: none;
}

.myriadPro {
  font-family: "Myriad Pro";
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.popupIcon {
  margin-left: 8px;
  font-size: 20px;
  position: relative;
  cursor: pointer;
  z-index: inherit;
}

.arrowUp {
  --color: #ddd;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;

  border-bottom: 8px solid var(--color);
  box-sizing: border-box;
  cursor: pointer;
}

.arrowDown {
  --color: #ddd;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;

  border-top: 8px solid var(--color);
  box-sizing: border-box;
  cursor: pointer;
}

.downArrow::after {
  position: relative;
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;

  border-top: 8px solid #ddd;
  box-sizing: border-box;
  cursor: pointer;
  top: 8px;
  margin-left: 4px;
}

.upArrow::after {
  position: relative;
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;

  border-bottom: 8px solid #ddd;
  box-sizing: border-box;
  cursor: pointer;
  bottom: 8px;
  margin-left: 4px;
}

.hoverInfo {
  transform-origin: top left;
  position: absolute;
  transition: clip-path 200ms;
  box-sizing: border-box;
  clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
}

.hoverRadio {
  transform-origin: top left;
  position: absolute;
  transition: clip-path 200ms;
  box-sizing: border-box;
  clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
}
.hoverRadio.left {
  clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 0%);
}
.hoverRadio.down {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.keyword {
  font-weight: bold;
}

.ability {
  font-family: "Slider";
  font-weight: normal;
  font-size: 90%;
}

.hoverInfo.down {
  clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
}

.hoverInfo.up {
  clip-path: polygon(0% 101%, 0% 101%, 0% 101%, 0% 101%);
}

.hoverInfo.left {
  clip-path: polygon(101% 0%, 101% 0%, 101% 0%, 101% 0%);
}

.hoverInfo.down.left {
  clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
}

.hoverInfo.up.left {
  clip-path: polygon(101% 101%, 101% 101%, 101% 101%, 101% 101%);
}

.hiddenButton {
  opacity: 0;
  transition: opacity 200ms, z-index 200ms;
  z-index: -1;
}

.hoverParent {
  position: relative;
}

.hoverParent.hover {
  z-index: 1005;
}

.hoverParent.hover > .hoverInfo {
  display: flex;
  position: absolute;
  z-index: 1000;
  clip-path: polygon(0% 0%, 0% 101%, 101% 101%, 101% 0%);
}
.hoverParent.hover > .hoverRadio {
  display: flex;
  position: absolute;
  z-index: 1000;
  clip-path: polygon(0% 0%, 0% 101%, 101% 101%, 101% 0%);
}

/* Firefox will have a degraded animation experience, but this will ensure functionality. */
@supports not selector(:has(.hoverParent.hover)) {
  .hoverParent.hover > .hoverInfo {
    clip-path: polygon(-1000% -1000%, -1000% 1000%, 1000% 1000%, 1000% -1000%);
  }
}

.hoverInfo:has(.hoverParent.hover) {
  clip-path: polygon(-1000% -1000%, -1000% 1000%, 1000% 1000%, 1000% -1000%);
}

.hoverInfo:has(.modal.shown) {
  clip-path: polygon(-1000% -1000%, -1000% 1000%, 1000% 1000%, 1000% -1000%);
}

.hiddenButtonParent:hover .hiddenButton {
  opacity: 1;
  transition: opacity 200ms, z-index 200ms;
  z-index: 1000;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 300ms;
}

.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}
.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 500ms;
}
.modal-exit {
  opacity: 1;
  transform: scale(1);
}
.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 500ms;
}

.grow-enter {
  transform: scaleY(0);
  transform-origin: top;
}
.grow-enter-active {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 500ms;
}
.grow-exit {
  transform: scaleY(1);
  transform-origin: top;
}
.grow-exit-active {
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 500ms;
}

.mobileOnly {
  display: none;
}

.nonMobile {
  display: flex;
}

.tabletOnly {
  display: none;
}

.centered {
  text-align: center;
}

@media only screen and (max-width: 1279px) {
  body {
    margin: 0px 64px;
  }
}

@media only screen and (max-width: 1023px) {
  .tabletOnly {
    display: flex;
  }

  .nonTablet {
    display: none;
  }
  
}

@media only screen and (max-width: 900px) {
  body {
    margin: 0px 8px;
  }

  .mobileOnly {
    display: flex;
  }

  .hiddenButton {
    opacity: 1;
    transition: opacity 200ms;
  }

  .nonMobile {
    display: none !important;
  }
}