@font-face {
  font-family: 'Slider';
  src: url('Slider.eot');
  src: url('Slider.eot?#iefix') format('embedded-opentype'),
      url('Slider.woff2') format('woff2'),
      url('Slider.woff') format('woff'),
      url('Slider.ttf') format('truetype'),
      url('Slider.svg#Slider') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro'), url('MYRIADPRO-REGULAR.woff') format('woff');
}

body {
  font-family: "slider";
  margin: 0px 150px;
  background-color: #222;
  color: #eee;
}

@media only screen and (max-width: 900px) {
  body {
    margin: 0px 8px;
  }
}

button {
  all: unset;
  font-size: 16px;
  font-family: 'Myriad Pro';
  background-color: #333;
  color: #eee;
  padding: 3px 5px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 1px 4px black;
  border: 1px solid #333;
}

button:hover {
  background-color: #444;
}

button:disabled {
  background-color: #222;
  color: #555;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid #333;
  cursor: default;
}

button.selected {
  border: 1px solid #eee;
  background-color: #444;
  color: #fff;
}


input[type=text] {
  background-color: #333;
  color: #fff;
  box-sizing: border-box;
}

.leftSidebar {
  position: fixed;
  transform: rotate(-90deg);
  left: 36px;
  width: 100vh;
  text-align: center;
  top: 100%;
  background-color: #333;
  color: #eee;
  box-shadow: 0px 0px 8px 1px #111;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 48px;
  transform-origin: 0px 0px;
}

.rightSidebar {
  position: fixed;
  transform: rotate(90deg);
  right: 36px;
  width: 100vh;
  text-align: center;
  top: 100%;
  background-color: #333;
  color: #eee;
  box-shadow: 0px 0px 8px 1px #111;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 48px;
  transform-origin: 100% 0px;
}

@media only screen and (max-width: 900px) {
  .leftSidebar {
    display: none;
  }
  
  .rightSidebar {
    display: none;
  }
}

.myriadPro {
  font-family: "Myriad Pro";
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab {
  padding: 4px;
  height: 24px;
  font-size: 20px;
}

.tab.active {
  background-color: lightblue;
  color: #333;
  border-radius: 5px 5px 0px 0px;
}

.popupIcon {
  margin-left: 8px;
  font-size: 20px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.arrowUp {
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;

  border-bottom: 8px solid #ddd;
  box-sizing: border-box;
  cursor: pointer;
}

.arrowDown {
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  
  border-top: 8px solid #ddd;
  box-sizing: border-box;
  cursor: pointer;
}

.hoverInfo {
  transform-origin: top left;
  position: absolute;
  transition: clip-path 200ms;
  box-sizing: border-box;
  clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
}

.hoverInfo.up {
  clip-path: polygon(0% 101%, 0% 101%, 0% 101%, 0% 101%);
}

.hiddenButton {
  opacity: 0;
  transition: opacity 200ms;
}

.hoverParent {
  position: relative;
}

.hoverParent:hover > .hoverInfo {
  display: flex;
  position: absolute;
  z-index: 1000;
  /* clip-path: polygon(101% 101%, 0% 101%, 0% 0%, 101% 0%); */
  clip-path: polygon(0% 0%, 0% 101%, 101% 101%, 101% 0%);
}

.hoverInfo:has(.hoverParent:hover) {
  clip-path: polygon(-1000% -1000%, -1000% 1000%, 1000% 1000%, 1000% -1000%);
}

.hoverParent:hover .hiddenButton {
  opacity: 1;
}

.hoverInfo.right {
  left: 100%;
  margin-left: 16px;
  height: 0px;
  max-width: 240px;
}

.hoverInfo.left {
  right: 100%;
  margin-right: 16px;
  height: 0px;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 300ms;
}

.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}
.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 500ms;
}
.modal-exit {
  opacity: 1;
  transform: scale(1);
}
.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 500ms;
}

.grow-enter {
  transform: scaleY(0);
  transform-origin: top;
}
.grow-enter-active {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 500ms;
}
.grow-exit {
  transform: scaleY(1);
  transform-origin: top;
}
.grow-exit-active {
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 500ms;
}