.Modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  // height: calc(100dvh - 1.5rem);
}

.ModalTitleSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  font-size: 1.5rem;
}

.ModalTitle {
  background-color: var(--background-color);
  border-radius: 0.25rem;
  border: 1px solid var(--neutral-border);
  padding: 0.25rem 0.5rem;
  width: min-content;

  font-size: 1.5rem;

  white-space: nowrap;
}

.ModalSettings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  gap: 0.25rem;
}

.ModalBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  width: clamp(80vw, 70rem, calc(100vw - 1.5rem));
  height: fit-content;
  font-size: 1.125rem;
}

@media only screen and (max-width: 56.25rem) {
  .ModalTitleSection {
    flex-direction: column;
    gap: 0.25rem;
  }

  // .Modal {
  //   overflow-y: auto;
  // }
}
