.CenterColumn {
  height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1.25rem;

  text-align: center;
}

@media only screen and (max-width: 75rem) {
  .CenterColumn {
    height: calc(100dvh - 6.5rem);
  }
}
