.NavBar {
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: flex-start;
  align-items: center;
  top: 1rem;
  left: 4rem;
  font-size: 1.5rem;
  gap: 0.5rem;
  z-index: 1;
}

.HomeLink {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  gap: 0.5rem;
}

.LangSelect {
  position: relative;
  z-index: 4;
}

.Logo {
  position: relative;
  width: 2rem;
  height: 2rem;
}

@media only screen and (max-width: 75rem) {
  .HomeLink {
    left: 4rem;
  }
}

@media only screen and (max-width: 56.25rem) {
  .NavBar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
  }

  .HomeLink {
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;

    background-color: var(--background-color);
    z-index: 1;
  }

  .HomeLink > div {
    position: relative;
    width: 1.75rem;
    height: 1.75rem;
  }

  .LangSelect {
    display: flex;
    position: fixed;
    top: unset;
    bottom: 2rem;
    right: 1.875rem;
    left: unset;
    z-index: 2;
  }
}
