.HomeLink {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: fixed;
  justify-content: center;
  background-color: #222;
  top: 16px;
  left: 96px;
  font-size: 24px;
  gap: 8px;
}

.LangSelect {
  display: flex;
  position: fixed;
  top: 32px;
  left: 30px;
  z-index: 2;
}

.HomeLink > div {
  position: relative;
  width: 32px;
  height: 32px;
}

@media only screen and (max-width: 1279px) {
  .HomeLink {
    left: 64px;
  }
}

@media only screen and (max-width: 900px) {
  .HomeLink {
    text-align: center;
    position: sticky;
    padding-top: 12px;
    padding-bottom: 12px;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;

    background-color: #222;
    z-index: 1;
  }

  .HomeLink > div {
    position: relative;
    width: 28px;
    height: 28px;
  }
}
