.Card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;

  padding: 0.25rem;
  background-color: var(--disabled-bg);
  --local-background: var(--disabled-bg);
  // --background-color: var(--disabled-bg);

  border-radius: 0.375rem;
  width: 100%;
}

.CardBody {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.Card:has(.CardBody:empty) {
  display: none;
}

.Card > label {
  font-size: 0.875rem;
  line-height: 1em;
  color: var(--muted-text);
  margin-bottom: 0.25rem;

  width: 100%;
}

.Card > .Icon {
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  z-index: 1;
}
