.FactionRow {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  width: 100%;

  padding-right: 0.25rem;
}

.InnerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  gap: 0.5rem;
}
