.Histogram {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  height: 5rem;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.25rem;
}

.FactionHistogram {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  height: 5rem;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.25rem;
}

.OuterHistogram {
  gap: 0.125rem;
  width: 100%;
  align-items: flex-start;
  overflow-x: auto;
}

@media only screen and (max-width: 56.25rem) {
  .FactionHistogram {
    overflow-y: scroll;
  }

  .OuterHistogram {
    overflow-y: scroll;
  }
}
