.Histogram {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  height: 80px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4px;
}

.FactionHistogram {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  height: 80px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4px;
}

.OuterHistogram {
  gap: 2px;
  width: 100%;
  align-items: flex-start;
}

@media only screen and (max-width: 1023px) {
  .FactionHistogram {
    overflow-y: scroll;
  }

  .OuterHistogram {
    overflow-y: scroll;
  }
}
