.QRCode {
  position: fixed;
  top: 4rem;
  left: 4rem;

  z-index: 3;
}

@media only screen and (max-width: 68.75rem) {
  .QRCode {
    display: none;
    // TODO: Decide whether or not to display QR code on mobile.
  }
}
