.QRCode {
  display: none;
  position: fixed;
  z-index: 1;
}

.MobileQRCode {
  display: block;
  position: fixed;
  inset-block-start: 0.5rem;
  inset-inline-end: 3.4rem;
  z-index: 1;
}

@media only screen and (min-width: 68.75rem) {
  .QRCode {
    display: block;
    inset-block-start: 3.25rem;
    inset-inline-start: 3.75rem;
  }

  .MobileQRCode {
    inset-block-start: 0.5rem;
    inset-inline-end: 6rem;
  }
}

.Main {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-between;
  width: 100%;
  padding: 0.25rem;
}

@media only screen and (max-width: 68.75rem) {
  .Main {
    gap: 1.5rem;
  }
}

@media only screen and (max-width: 37.5rem) {
  .Main {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
