.PlanetSummary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;

  position: relative;
}

.ResourceSection {
  position: relative;
  width: 3.2rem;
  height: 3.5rem;
  padding-bottom: 0.125rem;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.PlanetTotal {
  position: absolute;
  width: 1.7rem;
  height: 1.7rem;
  top: 0.1rem;
  right: 0;
  border: 1px solid #444;
  border-radius: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;

  font-size: 1.125rem;
}

.OceanElement {
  position: absolute;

  border-radius: 50%;
  width: 0.25rem;
  height: 0.25rem;
  box-sizing: border-box;

  cursor: pointer;
  z-index: 2;
}

.CountSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.PlanetTypeGrid {
  display: grid;
  font-size: 1rem;
  column-gap: 0.25rem;
  row-gap: 0.125rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.Attachments {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  line-height: 1rem;
}

.centered {
  text-align: center;
}

.symbol {
  font-family: "Source Sans";
}
