.PlanetSummary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--two-pixel);
}

.ResourceSection {
  position: relative;
  width: var(--fifty-pixel);
  height: 100%;
  padding-bottom: var(--two-pixel);

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--eight-pixel);
}

.PlanetTotal {
  position: absolute;
  width: var(--thirty-pixel);
  height: var(--thirty-pixel);
  top: 0;
  right: 0;
  z-index: -1;
  border: var(--one-pixel) solid #444;
  border-radius: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;

  background-color: #222;
  font-size: var(--eighteen-pixel);
}

.CountSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--eight-pixel);
}

.PlanetTypeGrid {
  display: grid;
  font-size: var(--fourteen-pixel);
  gap: var(--four-pixel);
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.Attachments {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--eight-pixel);
  font-size: var(--twenty-pixel);
  line-height: var(--sixteen-pixel);
}

.centered {
  text-align: center;
}

.symbol {
  font-family: "Source Sans";
}
