.Modal {
  position: fixed;
  left: 0;
  top: 0px;
  width: 100vw;
  height: 100dvh;

  display: none;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #eee;
}

.Overlay {
  position: absolute;
  width: 100vw;
  height: 100dvh;
  background-color: black;
  opacity: 50%;
}

.Modal .Content {
  position: relative;
  background-color: #222;
  max-width: 85%;
  max-height: 90vh;
  border-radius: 10px;
}

.Modal .Header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding: 4px;
  border-bottom: 1px solid grey;
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: #222;
  border-radius: 10px 10px 0 0;
}

.Modal .CloseButton {
  color: grey;
  cursor: pointer;
  font-size: 20px;
  margin-left: 6px;
  position: absolute;
  top: 4px;
}

.Modal .Title {
  padding: 4px 32px;
  text-align: center;
  flex-basis: 100%;
  font-size: 40px;
}

.Modal .Body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 0 4px 4px 4px;
}

:global(.hoverInfo):has(.Modal.shown) {
  clip-path: polygon(-1000% -1000%, -1000% 1000%, 1000% 1000%, 1000% -1000%);
}
