.Modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100dvh;

  visibility: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #eee;

  backdrop-filter: blur(0.5rem);
}

.Overlay {
  position: absolute;
  width: 100vw;
  height: 100dvh;
}
.ModalContent {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100dvh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #eee;

  overflow-y: auto;
}

.ModalContent .Content {
  position: relative;
  background-color: var(--background-color);
  border: 1px solid var(--neutral-border);
  max-width: 85%;
  border-radius: 0.625rem;
  margin-block: auto;
}

.ModalContent .Header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 0.25rem 2.25rem;
  border-bottom: var(--border-size) solid var(--neutral-border);
}

.ModalContent .CloseButton {
  color: grey;
  cursor: pointer;
  font-size: 1.25rem;
  margin-left: 0.375rem;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
}

.ModalContent .Title {
  text-align: center;
  font-size: 2.5rem;
}

.ModalContent .Body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0 0.25rem 0.25rem 0.25rem;
}

:global(.hoverInfo):has(.Modal.shown) {
  clip-path: polygon(-1000% -1000%, -1000% 1000%, 1000% 1000%, 1000% -1000%);
}
