.LeftColumn {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  white-space: normal;

  min-height: calc(100dvh - 6.5rem);
}

.SetupList {
  align-items: stretch;
  justify-content: flex-start;
  padding: 0 0 0 1.25rem;
}

.Embedded {
  display: none;
}

.MainColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100dvh - 6.5rem);
  padding-block-end: 0.75rem;
  width: 100%;
}

@media only screen and (max-width: 68.75rem) {
  .MainColumn {
    margin-top: 1rem;
    min-height: unset;
  }

  .LeftColumn {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 44rem) {
  .LeftColumn {
    height: fit-content;
    width: 100%;
    margin-top: 0;
  }

  .MainColumn {
    display: none;
  }

  .Embedded {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 1.25rem);
  }
}
