.LeftColumn {
  margin-top: 7.5rem;
  align-items: stretch;
  justify-content: flex-start;
  width: min-content;
  white-space: normal;
}

.SetupList {
  align-items: stretch;
  justify-content: flex-start;
  padding: 0 0 0 1.25rem;
}

.Embedded {
  display: none;
}

.MainColumn {
  margin-top: 3.2rem;
  min-height: calc(100dvh - 6.4rem);
  width: 100%;
}

@media only screen and (max-width: 37.5rem) {
  .LeftColumn {
    height: fit-content;
    width: 100%;
  }

  .MainColumn {
    display: none;
  }

  .Embedded {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 1.25rem);
  }
}
