.VotingBlock {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 4.75rem;
  height: 2.875rem;
  white-space: nowrap;
  flex-shrink: 0;
}

.InfluenceSymbol {
  color: #72d4f7;
  font-size: 2.8125rem;
  line-height: 2.75rem;
  width: 2.625rem;
  height: 2.875rem;
  text-shadow: 0 0 4px #72d4f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.InfluenceTextWrapper {
  position: absolute;
  font-size: 0.875rem;
  width: 2.625rem;
  height: 2.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.VotingBlock .InfluenceTextWrapper {
  left: 0;
  top: 0;
  font-size: 0.875rem;
  width: 2.625rem;
  height: 2.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
