.StrategyCardElement {
  height: 3rem;

  display: grid;

  grid-template-columns: subgrid;
  grid-auto-flow: row;
  // flex-direction: column;
  border: 3px solid var(--color);
  border-radius: 0.375rem;
  justify-content: center;
  // justify-items: center;
  align-items: center;

  grid-column: 1 / 5;
}

.StrategyCardElement:hover {
  background-color: #333;
}

.Number {
  // width: 14%;
  // flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  color: var(--text-color);
  grid-template-columns: 1 / 2;
}

.FactionCircle {
  display: none;
}

@media only screen and (max-width: 75rem) {
  .FactionCircle {
    display: flex;
    grid-column: 3 / 5;
    justify-self: center;
  }
  .FactionTile {
    display: none;
  }
}
