.LeftColumn {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  margin-top: 120px;
  padding-top: 28px;
}

.ActivePlayerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;

  padding-top: 80px;
}

.ActivePlayerSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  width: 100%;
  min-width: 360px;
  min-height: 220px;
}

.EndTurnButton {
  font-size: 24px;
}

@media only screen and (max-width: 1279px) {
  .ActivePlayerColumn {
    padding-top: 120px;
  }

  .ActivePlayerSection {
    min-width: 280px;
  }

  .EndTurnButton {
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .LeftColumn {
    height: calc(100svh - 200px);
    justify-content: center;

    padding-top: 0;
    margin-top: 0;
  }
  .ActivePlayerColumn {
    padding-top: 0;
  }

  .ActivePlayerSection {
    min-width: 280px;
  }

  .EndTurnButton {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .LeftColumn {
    display: none;
  }

  .ActivePlayerColumn {
    padding-top: 0;
  }

  .ActivePlayerSection {
    align-items: flex-start;
  }
}
