.LeftColumn {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  margin-top: 7.5rem;
  padding-top: 1.75rem;
}

.ActivePlayerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;

  padding-top: 5rem;
}

.ActivePlayerSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  width: 100%;
  min-width: 22.5rem;
  min-height: 13.75rem;
}

.EndTurnButton {
  font-size: 1.5rem;
}

@media only screen and (max-width: 75rem) {
  .ActivePlayerColumn {
    padding-top: 7.5rem;
  }

  .ActivePlayerSection {
    min-width: 17.5rem;
  }

  .EndTurnButton {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 56.25rem) {
  .LeftColumn {
    height: calc(100svh - 12.5rem);
    justify-content: center;

    padding-top: 0;
    margin-top: 0;
  }
  .ActivePlayerColumn {
    padding-top: 0;
  }

  .ActivePlayerSection {
    min-width: 17.5rem;
  }

  .EndTurnButton {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 37.5rem) {
  .LeftColumn {
    display: none;
  }

  .ActivePlayerColumn {
    padding-top: 3rem;
    width: calc(100vw - 1.25rem);

    height: calc(100dvh - 8.125rem);
  }

  .ActivePlayerSection {
    align-items: flex-start;
  }
}
