.LeftColumn {
  padding-top: 140px;
  width: 332px;
}

.MiddleColumn {
  padding-top: 80px;
  align-items: stretch;
}

@media only screen and (max-width: 600px) {
  .LeftColumn {
    padding-top: 48px;
  }

  .MiddleColumn {
    padding-top: 0;
  }
}
