.LeftColumn {
  padding-top: 8.75rem;
  width: 20.75rem;
}

.MiddleColumn {
  padding-top: 5rem;
  align-items: stretch;
}

@media only screen and (max-width: 37.5rem) {
  .LeftColumn {
    padding-top: 3rem;
  }

  .MiddleColumn {
    padding-top: 0;
  }
}
