.ScoreObjectivesSection {
  display: grid;

  grid-template-columns: 2fr 1fr 2fr;

  width: 100%;
}

.ObjectiveSection {
  display: grid;

  grid-template-columns: subgrid;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  justify-items: center;

  grid-column: 1 / 4;
}

.LeftColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--eight-pixel);

  height: 100svh;

  margin: 0;
  white-space: nowrap;
  padding-left: var(--twenty-pixel);
}

.MainColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--eight-pixel);

  width: 100%;
  height: 100svh;
}

.EmbeddedObjectives {
  display: none;
}

@media only screen and (max-width: 900px) {
  .LeftColumn {
    height: calc(100svh - 240px);
  }

  .MainColumn {
    height: fit-content;
    margin-top: 0;
  }
}

@media only screen and (max-width: 600px) {
  .LeftColumn {
    height: fit-content;
    align-items: flex-start;
  }

  .EmbeddedObjectives {
    display: flex;
    padding-top: var(--twelve-pixel);
    white-space: normal;
    width: 100%;
    justify-content: center;
  }

  .MainColumn {
    display: none;
  }
}
