.NavBar {
  position: sticky;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  background-color: var(--background-color);
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 0.25rem;
  padding-block: 0.5rem;
  align-items: center;
  font-size: 1rem;

  gap: 0.25rem;
}

.HomeLink {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  font-size: 1rem;
}

.FullName {
  display: none;
  // Should not require other fonts.
  font-family: var(--main-font);
}

.ShortName {
  display: inline-block;
  // Should not require other fonts.
  font-family: var(--main-font);
}

.Logo {
  position: relative;
  width: 1.75rem;
  height: 1.75rem;
}

.Loader {
  position: absolute;
  font-family: var(--main-font);
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
}

.LoadingLogo {
  position: relative;
  width: 4rem;
  height: 4rem;
}
