.NavBar {
  position: sticky;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  background-color: var(--background-color);
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 0.25rem;
  padding-block: 0.5rem;
  align-items: center;
  font-size: 1.5rem;
}

.HomeLink {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.FullName {
  display: none;
  // Should not require other fonts.
  font-family: "Slider";
}

.ShortName {
  display: inline-block;
  // Should not require other fonts.
  font-family: "Slider";
}

.Logo {
  position: relative;
  width: 2rem;
  height: 2rem;
}

@media only screen and (min-width: 68.75rem) {
  .FullName {
    display: inline-block;
  }

  .ShortName {
    display: none;
  }
}
