.LangSelect {
  display: flex;
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 2;
}

.GameTimer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  position: fixed;
  top: 3.75rem;
  left: 14rem;
  // padding-left: 0.75rem;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  border-radius: 0.3125rem;
}

.PassedLaws {
  position: fixed;
  top: 0.625rem;
  right: 26.25rem;

  z-index: 1;
}

.QRCode {
  position: fixed;
  top: 4rem;
  left: 6rem;

  z-index: 1;
}

.ControlButtons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-evenly;
  align-items: center;

  position: fixed;
  top: 0.5rem;
  left: 28.875rem;
  font-size: 1.5rem;

  z-index: 2;
}

.Map {
  position: fixed;
  top: 5.75rem;
  left: 3.75rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@media only screen and (max-width: 68.75rem) {
  .LangSelect {
    bottom: 2.25rem;
    right: 2.25rem;
    left: unset;
    top: unset;
  }

  .GameTimer {
    top: 4.5rem;
    left: 0.5rem;
    padding: 0.25rem;
    z-index: 1;
    backdrop-filter: blur(0.5rem);
    border: 0.25rem solid var(--background-color);
    // display: none;
    // TODO: Decide whether or not to display game timer on mobile.
  }

  .PassedLaws {
    display: none;
    // TODO: Decide whether or not to display passed laws on mobile.
  }

  .QRCode {
    display: none;
    // TODO: Decide whether or not to display QR code on mobile.
  }

  .Map {
    display: none;
    // TODO: Decide whether or not to display map on mobile.
  }

  .ControlButtons {
    left: unset;
    right: 1.25rem;
    top: 5rem;
    z-index: 1;
  }
}
