.HomeLink {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: fixed;
  justify-content: center;
  background-color: #222;
  top: 16px;
  left: 96px;
  font-size: 24px;
  gap: 8px;
}

.HomeLink > div {
  position: relative;
  width: 32px;
  height: 32px;
}

.LangSelect {
  display: flex;
  position: fixed;
  top: 32px;
  left: 32px;
  z-index: 2;
}

.GameTimer {
  display: flex;
  flex-direction: column;
  gap: 8px;

  position: fixed;
  top: 64px;
  left: 256px;
  padding-left: 12px;
  align-items: center;
  justify-content: center;
}

.PassedLaws {
  position: fixed;
  top: 20px;
  right: 420px;

  z-index: 1;
}

.QRCode {
  position: fixed;
  top: 64px;
  left: 96px;

  z-index: 1;
}

.ControlButtons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-evenly;
  align-items: center;

  position: fixed;
  top: 16px;
  left: 470px;
  font-size: 24px;
}

.Map {
  position: fixed;
  top: 108px;
  left: 96px;
}

@media only screen and (max-width: 1279px) {
  .HomeLink {
    left: 64px;
  }

  .LangSelect {
    left: 14px;
  }

  .GameTimer {
    left: 222px;
  }

  .PassedLaws {
    right: 388px;
  }

  .QRCode {
    left: 64px;
  }

  .ControlButtons {
    left: 438px;
  }

  .Map {
    left: 64px;
  }
}

@media only screen and (max-width: 900px) {
  .HomeLink {
    text-align: center;
    position: sticky;
    padding-top: 12px;
    padding-bottom: 12px;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;

    background-color: #222;
    z-index: 1;
  }

  .HomeLink > div {
    position: relative;
    width: 28px;
    height: 28px;
  }

  .LangSelect {
    bottom: 36px;
    right: 36px;
    left: unset;
    top: unset;
  }

  .GameTimer {
    display: none;
    // TODO: Decide whether or not to display game timer on mobile.
  }

  .PassedLaws {
    display: none;
    // TODO: Decide whether or not to display passed laws on mobile.
  }

  .QRCode {
    display: none;
    // TODO: Decide whether or not to display QR code on mobile.
  }

  .Map {
    display: none;
    // TODO: Decide whether or not to display map on mobile.
  }

  .ControlButtons {
    display: none;
    // TODO: Decide whether or not to display control buttons on mobile.
  }
}
