.FactionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  position: relative;
  height: 100%;
  width: 100%;
  font-size: var(--twenty-four-pixel);
}
