.collapsibleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #222;
  border-radius: var(--four-pixel);

  padding-bottom: var(--four-pixel);
}

.title {
  padding-top: var(--four-pixel);
  padding-bottom: var(--four-pixel);
}

.collapsible {
  display: grid;
  gap: var(--eight-pixel);
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr;

  transition: grid-template-rows 500ms;
}

@media only screen and (max-width: 599px) {
  .collapsible.collapsed {
    grid-template-rows: 0fr;
    overflow: hidden;
  }

  .contentContainer {
    overflow: hidden;
  }
}
