.planetColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 100%;
  background-color: #222;
  border-radius: 0.25rem;
  padding: 0.25rem 0;
  gap: 0.25rem;
  height: 100%;

  font-size: 0.875rem;

  border: 1px solid var(--color);
}

.planetGrid {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 0.5rem;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: repeat(calc(var(--num-columns) - 1), minmax(0, 2fr)) 3fr;
  grid-auto-flow: row;

  overflow: hidden;
}

.unclaimedColumn {
  grid-row: 1 / 3;
  grid-column: var(--num-columns) / calc(var(--num-columns) + 1);
  overflow: hidden;
  max-height: 100%;
}

.unclaimedColumn > .collapsible > .collapsiblePlanetColumn {
  overflow-y: auto;
  overflow-x: hidden;
}

.planetColumn {
  overflow: hidden;
  max-height: 100%;
}

.planetList {
  width: 100%;
}

.planetColumn > .collapsible {
  overflow-y: auto;
  overflow-x: hidden;
}

.planetTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding-bottom: 0.25rem;

  font-size: 0.875rem;
}

.collapsible {
  display: grid;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  padding: 0 0.25rem;
}

.collapsiblePlanetColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  white-space: pre-wrap;
  gap: 0.25rem;

  width: 100%;
  height: 100%;

  transition: padding 500ms;
}

@media only screen and (max-width: 56.25rem) {
  .planetGrid {
    grid-template-rows: unset;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;

    overflow: visible;
  }

  .unclaimedColumn {
    grid-row: 1 / calc(var(--num-factions) + 1);
  }

  .planetColumn > .collapsible {
    overflow: visible;
  }
}

@media only screen and (max-width: 37.5rem) {
  .collapsiblePlanetColumn {
    overflow: hidden;
  }

  .planetGrid {
    display: flex;
    flex-direction: column;
    grid-auto-flow: row;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .planetColumn {
    border: 2px solid var(--color);
  }

  .unclaimedColumn {
    grid-row: unset;
  }

  .unclaimedColumn > .collapsible > .collapsiblePlanetColumn {
    overflow: hidden;
  }

  .collapsible {
    grid-template-rows: 1fr;

    transition: grid-template-rows 500ms;
  }

  .collapsible.collapsed {
    grid-template-rows: 0fr;
    overflow: hidden;
  }

  .collapsible.collapsed .collapsiblePlanetColumn {
    padding: 0;

    transition: padding 500ms;
  }

  .collapsiblePlanetColumn:has(:global(.hoverParent.hover)) {
    overflow: visible;
  }
}
