.TacticalAction {
  display: flex;
  flex-direction: column;

  width: clamp(120px, 25rem, 100%);
}

.OtherFactionsLabel:only-child {
  display: none;
}

@media only screen and (max-width: 37.5rem) {
  .TacticalAction {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
