.TacticalAction {
  display: flex;
  flex-direction: column;
}

.OtherFactionsLabel:only-child {
  display: none;
}

@media only screen and (max-width: 37.5rem) {
  .TacticalAction {
    justify-content: flex-start;
    align-items: flex-start;

    padding-left: 1rem;
  }
}
