

.factionTechRow {
  cursor: pointer;
  opacity: 0.25;
  transition: opacity 250ms;
  // backdrop-filter: blur(2px);
}

.factionTechRow.selected {
  opacity: 1;
}

.factionIconRow {
  --num-factions: 6;
  display: grid;
  width: 100%;
  grid-auto-flow: row;
  grid-template-columns: repeat(var(--num-factions), 1fr);
  justify-content: center;
  align-content: center;
  height: var(--twenty-pixel);
}
@media (hover: hover) and (pointer: fine) {
  .factionTechRow:not(.selected):hover {
    opacity: 0.6;
  }
  .factionTechRow.selected:hover {
    opacity: 0.8;
  }
}

.factionIconWrapper {
  width: 100%;
  height: var(--twenty-four-pixel);
  cursor: pointer;
}

.factionIcon {
  position: relative;
  cursor: pointer;
  opacity: 0.2;
  
  width: var(--sixteen-pixel);
  height: var(--sixteen-pixel);
  border-radius: 100%;
  transition: width 50ms, height 50ms, opacity 50ms;
}

.factionIcon.selected {
  width: var(--twenty-four-pixel);
  height: var(--twenty-four-pixel);
}

@media (hover: hover) and (pointer: fine) {
  .factionIcon:not(.selected):hover {
    opacity: 0.75;
    width: var(--twenty-two-pixel);
    height: var(--twenty-two-pixel);
  }
}

.factionIcon::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  left: calc(50%);
  top: calc(50%);
  // background-color: #eee;
  box-shadow: 0px 0px var(--twelve-pixel) var(--eight-pixel) var(--color);
  opacity: 0;
  transition: opacity 250ms;
}

@media (hover: hover) and (pointer: fine) {
  .factionIcon:hover::before {
    opacity: 1;
  }
}

.selected {
  opacity: 1;
}

.factionTechsColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;

  grid-row: 1 / 3;
  grid-column: 1 / 2;

  --color: #eee;
  background-color: #222;
  border-radius: var(--four-pixel);
  padding-top: var(--four-pixel);
  
  padding-bottom: var(--eight-pixel);
}

.techColumn {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  --color: #eee;
  width: 100%;
  white-space: pre-wrap;
  padding: var(--four-pixel) 0;
  gap: var(--four-pixel);
  height: 100%;
  border-radius: var(--four-pixel);
  
  font-size: var(--fourteen-pixel);

  background-color: #222;
}

.techColumn.lastColumn {
  grid-row: 1 / 3;
  // grid-column: 1 / 3;
  align-items: stretch;
  border: none;
}

.techGrid {
  width: 100%;
  display: grid;
  gap: var(--eight-pixel);
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-flow: column;
}

.techTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--eight-pixel);
  width: 100%;
  padding-bottom: var(--four-pixel);

  font-size: var(--eighteen-pixel);
}

.innerTechColumn {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  justify-content: space-evenly;
  
  font-size: var(--fourteen-pixel);
  gap: var(--four-pixel);
}


.collapsible {
  display: grid;
  gap: var(--eight-pixel);
  width: 100%;
  height: 100%;
}

.collapsibleTechColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  white-space: pre-wrap;
  gap: var(--four-pixel);

  width: 100%;
  height: 100%;

  transition: padding 500ms;
}

.factionTechsColumn .collapsibleTechColumn {
  height: 100%;
  width: fit-content;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--eight-pixel);
  
  font-size: var(--fourteen-pixel);

  padding: var(--four-pixel) var(--two-pixel) 0;
  padding-top: var(--four-pixel);
}

.factionTechsColumn .collapsible {
  justify-content: center;
}

@media only screen and (max-width: 1023px) {
  .techGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .factionTechsColumn {
    grid-row: 1 / 3;
    grid-column: auto;
  }
  
  .techColumn.lastColumn {
    grid-row: 3 / 5 ;
    grid-column: 1 / 2;
  }
}

@media only screen and (max-width: 599px) {
  .collapsibleTechColumn {
    overflow: hidden;
  }

  .techGrid {
    grid-auto-flow: row;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .techColumn {
    border: 1px solid var(--color);
  }

  .factionTechsColumn {
    grid-row: auto;
    grid-column: auto;
    
    border: 1px solid var(--color);
  }

  .factionTechsColumn .collapsibleTechColumn {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-flow: row;

    white-space: nowrap;

    padding: var(--four-pixel) var(--four-pixel);
  }
  
  .techColumn.lastColumn {
    grid-row: auto;
    grid-column: auto;

    border: 1px solid var(--color);
  }

  .collapsible {
    grid-template-rows: 1fr;

    transition: grid-template-rows 500ms;
  }

  .collapsible.collapsed {
    grid-template-rows: 0fr;
    overflow: hidden;
  }

  .collapsible.collapsed .collapsibleTechColumn {
    padding: 0;
    
    transition: padding 500ms;
  }

  .collapsibleTechColumn:has(:global(.hoverParent.hover)) {
    overflow: visible;
  }
}