.NumberInput {
  --up-arrow-color: #ddd;
  --down-arrow-color: #ddd;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.25rem;
  font-size: 1.25rem;

  grid-template-columns: 1fr auto 1fr;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 0.375rem solid transparent;
  border-right: 0.375rem solid transparent;
  cursor: pointer;
}

.arrowUp {
  border-bottom: 0.5rem solid var(--up-arrow-color);
}

.arrowDown {
  border-top: 0.5rem solid var(--down-arrow-color);
}

.InputBox {
  display: flex;
  justify-content: center;

  width: 2.25rem;

  background-color: #333;
  color: #eee;
  border: 2px solid #777;
  border-radius: 0.25rem;
}
