.NumberInput {
  --up-arrow-color: #ddd;
  --down-arrow-color: #ddd;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 4px;
  font-size: 20px;

  grid-template-columns: 1fr auto 1fr;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  cursor: pointer;
}

.arrowUp {
  border-bottom: 8px solid var(--up-arrow-color);
}

.arrowDown {
  border-top: 8px solid var(--down-arrow-color);
}

.InputBox {
  display: flex;
  justify-content: center;

  width: 36px;

  background-color: #333;
  color: #eee;
  border: 2px solid #777;
  border-radius: 4px;
}
