.AvailableVotes {
  position: relative;
  height: 100%;

  font-size: 16px;

  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  white-space: nowrap;
}

.InfluenceIcon {
  width: var(--width);
  height: var(--height);

  color: #72d4f7;
  text-shadow: 0 0 4px #72d4f7;

  line-height: var(--height);
  font-size: var(--height);

  display: flex;
  align-items: center;
  justify-content: center;
}

.InfluenceText {
  position: absolute;
  width: var(--width);
  height: var(--height);

  line-height: var(--height);
  font-size: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}
