.AvailableVotes {
  position: relative;
  height: 100%;

  font-size: 1rem;

  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  white-space: nowrap;
}

.InfluenceIcon {
  width: var(--width);
  height: var(--height);

  display: flex;
  align-items: center;
  justify-content: center;
}

.InfluenceText {
  position: absolute;
  width: var(--width);
  height: var(--height);

  line-height: var(--height);
  font-size: 0.75rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
