.Updates {
  bottom: 0;
  width: 100vw;
  position: fixed;
  justify-content: space-between;
}

.UpdateBox {
  position: fixed;
  bottom: 1rem;
  left: 4rem;

  z-index: 1;
}

.FactionBox {
  display: none;
}

.MobileMenuButton,
.MobileMenu {
  display: none;
}

@media only screen and (max-width: 75rem) {
  .UpdateBox {
    left: 4rem;
  }
}

@media only screen and (max-width: 56.25rem) {
  .UpdateBox {
    left: 1rem;
  }

  .FactionBox {
    position: fixed;
    display: flex;
    z-index: 1;

    right: 1rem;
    bottom: 1rem;
  }
}

@media only screen and (max-width: 37.5rem) {
  .UpdateBox {
    display: none;
  }

  .FactionBox {
    display: none;
  }

  .MobileMenuButton {
    position: fixed;
    left: 1rem;
    bottom: 1rem;

    width: 3rem;
    aspect-ratio: 1;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    border-radius: 100%;

    z-index: 1;
    -webkit-tap-highlight-color: transparent;
  }

  .MenuBar {
    height: 0.25rem;
    width: 1.5rem;
    background-color: #eee;

    border-radius: 0.25rem;
  }

  .MobileMenu {
    position: fixed;
    left: 0.75rem;
    bottom: 1rem;

    padding: 0.5rem;

    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    pointer-events: none;

    z-index: 0;
    backdrop-filter: blur(0.5rem);
    border-radius: 0.5rem;
    border: 2px solid #222;

    transition: bottom 400ms, opacity 400ms;
  }

  .MobileMenu.shown {
    opacity: 1;
    bottom: 4.375rem;
    pointer-events: auto;

    transition: bottom 400ms, opacity 100ms;
  }

  .MobileMenu button {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;

    width: 1.875rem;
    aspect-ratio: 1;
    border-radius: 100%;
    border: none;
    padding: 0.1875rem;
    -webkit-tap-highlight-color: transparent;
  }
}
