.Updates {
  bottom: 0;
  width: 100vw;
  position: fixed;
  justify-content: space-between;
}

div.UpdateBox {
  --num-buttons: 5;

  position: fixed;
  bottom: 1.3rem;
  left: 4rem;

  width: fit-content;

  z-index: 1;
}

.UpdateBox .UpdateBoxContent {
  display: grid;
  grid-template-columns: repeat(var(--num-buttons), minmax(0, 1fr));

  column-gap: 0.25rem;
  row-gap: 0.25rem;
}

.UpdateBoxElement {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;

  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.ButtonLabel {
  text-align: center;
  font-family: Myriad Pro;
  font-size: 0.625rem;
  letter-spacing: 0.02rem;
}

.FactionBox {
  display: none;
}

.MobileMenuButton,
.MobileMenu {
  display: none;
}

@media only screen and (max-width: 68.75rem) {
  div.UpdateBox {
    left: 2rem;
    bottom: 1.5rem;
  }

  .FactionBox {
    position: fixed;
    display: flex;
    z-index: 1;

    right: 2rem;
    bottom: 1.5rem;
  }
}

@media only screen and (max-width: 44rem) {
  div.UpdateBox {
    display: none;
  }

  .FactionBox {
    display: none;
  }

  .MobileMenuButton {
    position: fixed;
    left: 1rem;
    bottom: 1rem;

    width: 3rem;
    aspect-ratio: 1;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    border-radius: 100%;

    z-index: 2;
    -webkit-tap-highlight-color: transparent;
  }

  .MenuBar {
    height: 0.25rem;
    width: 1.5rem;
    background-color: #eee;

    border-radius: 0.25rem;
  }

  .MobileMenu {
    position: fixed;
    left: 0.75rem;
    bottom: 1rem;

    padding: 0.5rem;

    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    pointer-events: none;

    z-index: 2;
    backdrop-filter: blur(0.5rem);
    border-radius: 0.5rem;
    border: 2px solid var(--neutral-border);

    transition:
      bottom 400ms,
      opacity 400ms;
  }

  .MobileMenu.shown {
    opacity: 1;
    bottom: 4.375rem;
    pointer-events: auto;

    transition:
      bottom 400ms,
      opacity 100ms;
  }

  .MobileMenu button {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;

    width: 1.875rem;
    aspect-ratio: 1;
    border-radius: 100%;
    border: none;
    padding: 0.1875rem;
    -webkit-tap-highlight-color: transparent;
  }
}
