.GameTimer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.PauseButton {
  font-size: 0.75rem;
}

@media only screen and (max-width: 56.25rem) {
  .GameTimer {
    flex-direction: row;
  }
}
