.Sidebar {
  --edge-distance: 0.5rem;

  background-color: #333;
  box-shadow: 0px 0px 8px 1px #111;
  color: #eee;
  font-size: 1.5rem;
  letter-spacing: 3px;
  line-height: 1.5rem;
  padding: 0.5rem 0;
  position: fixed;
  text-align: center;
  top: 100%;
  transform-origin: 0px 0px;
  width: 100svh;
}

.SidebarLine {
  display: none;
}

.Sidebar.left {
  transform: rotate(-90deg);
  left: var(--edge-distance);
  transform-origin: 0px 0px;
}

.Sidebar.right {
  transform: rotate(90deg);
  right: var(--edge-distance);
  transform-origin: 100% 0px;
}

@media only screen and (max-width: 75rem) {
  .Sidebar {
    --edge-distance: 0.5rem;
    color: #eee;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 0.5rem 0;
  }
}

@media only screen and (max-width: 56.25rem) {
  .Sidebar {
    display: none;
  }

  .SidebarLine {
    display: flex;
    position: sticky;
    top: 3.25rem;
    width: 100%;
    margin-bottom: 0.25rem;
    z-index: 1;

    background-color: #222;
  }
}
