.ChipContainer {
  --border-color: green;
  --background-color: #444;

  --font-size: 0.75rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: var(--background-color);
  border-radius: 1.25rem;
  border: 1px solid var(--border-color);
  gap: 0;
  white-space: nowrap;
  padding: calc(var(--font-size) / 6) calc(2 * var(--font-size) / 3);
  cursor: pointer;
}

.ChipContainer > input[type="radio"] {
  appearance: none;

  margin: unset;
}

.ChipContainer > * {
  cursor: pointer;
}
