.ChipContainer {
  --border-color: green;
  --background-color: #444;

  --font-size: 0.75rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: var(--background-color);
  border-radius: 1.25rem;
  border: var(--border-size) solid var(--border-color);
  color: var(--foreground-color);
  gap: 0;
  white-space: nowrap;
  font-size: var(--font-size);
  padding: 0.125rem calc(2 * var(--font-size) / 3);
  cursor: pointer;
}

.ChipContainer:hover {
  background-color: var(--hovered-bg);
  border: var(--border-size) solid var(--neutral-border);
  color: var(--foreground-color);
}

.ChipContainer.disabled,
.ChipContainer.disabled:hover {
  background-color: var(--disabled-bg);
  border: var(--border-size) solid var(--disabled-border);
  color: var(--interactive-bg);
  cursor: default;
}

.ChipContainer:hover:has(input[type="radio"]:checked) {
  background-color: var(--selected-bg);
  border: var(--border-size) solid var(--selected-border);
  color: var(--foreground-color);
}

.ChipContainer > input[type="radio"] {
  appearance: none;

  margin: unset;
}

.ChipContainer:has(input[type="radio"]:checked) {
  background-color: var(--selected-bg);
  cursor: default;
  border: var(--border-size) solid var(--selected-border);
  color: var(--foreground-color);
}

.ChipContainer > * {
  cursor: pointer;
}

.ChipContainer.disabled * {
  cursor: default;
}
