.BorderedDiv {
  align-items: flex-start;
  border: var(--two-pixel) solid var(--color);
  border-radius: var(--five-pixel);
  box-sizing: border-box;
  gap: var(--eight-pixel);
  padding: var(--six-pixel);
  position: relative;
  width: 100%;
}
