@use "../../styles/mixins" as *;

.UnitStatsGrid {
  @include main-font;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 0.05em;
  width: fit-content;
  box-sizing: border-box;
}

.UnitStat {
  width: 1em;
  border: 1px solid var(--foreground-color);
  border-radius: 0.625rem;
  text-align: center;
}
