.SummaryColumn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  flex-shrink: 0;
  justify-content: center;
  position: sticky;
  top: 3.5rem;

  min-height: calc(100dvh - 7rem);
}

@media only screen and (max-width: 68.75rem) {
  .SummaryColumn {
    display: none;
  }
}
