.IconDiv {
  --side-spacing: 0.375rem;

  position: relative;
  gap: 0.5rem;
  border: var(--border-size) solid var(--color);
  border-radius: 0.3125rem;
  margin-left: calc(var(--icon-size) / 2);

  width: calc(100% - (var(--icon-size) / 2));
  box-sizing: border-box;
  align-items: flex-start;
}

.IconDiv .blurBox {
  z-index: -2;
  box-sizing: border-box;
  left: 0;
  top: 0;
  border-radius: 0.3125rem;
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.25rem);
  filter: blur(0);
}

.innerDiv {
  position: relative;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  width: 100%;
  height: 100%;
  padding: 0.375rem;
  padding-left: calc(0.125rem + var(--icon-size) / 2 - var(--border-size) / 2);
}

.icon {
  // top: var(--side-spacing);
  top: calc(50% - (var(--icon-size) / 2));
  position: absolute;
  left: 0;
  transform: translateX(
    calc(-1 * var(--icon-size) / 2 - var(--border-size) / 2)
  );

  width: var(--icon-size);
  height: var(--icon-size);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background-color);
  border-radius: 100%;
}
