.LabeledDiv {
  position: relative;
  gap: var(--eight-pixel);
  border: var(--two-pixel) solid var(--color);
  border-radius: var(--five-pixel);
  width: 100%;
  box-sizing: border-box;
  padding: var(--six-pixel);
  align-items: flex-start;
}

.LabeledDiv .blurBox {
  z-index: -2;
  box-sizing: border-box;
  left: 0;
  top: 0;
  border-radius: var(--five-pixel);
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(var(--four-pixel));
  filter: blur(0);
}

.label {
  --side-spacing: var(--six-pixel);

  position: absolute;
  white-space: nowrap;
  font-size: var(--sixteen-pixel);
  top: var(--negative-twelve-pixel);
  background-color: #222;
  border-radius: var(--five-pixel);
  padding: 0 var(--four-pixel);
  color: var(--color);
}

.label.left {
  left: var(--side-spacing);
}

.label.left > div {
  overflow: hidden;
  text-overflow: clip;
  margin: var(--two-pixel) var(--two-pixel);
}

.label.right {
  right: var(--side-spacing);
}
