.FactionSummary {
  display: flex;
  gap: 6px;
  justify-content: space-between;
  padding: 0 0 0 4px;
  position: relative;
  width: 100%;
}

.VPGrid {
  position: relative;
  align-items: center;
  display: grid;
  font-size: 28px;
  justify-items: center;
  padding-right: 6px;
}

.VPGrid :last-child {
  grid-column: 1 / 4;
}

.TechSummaryGrid {
  display: grid;
  font-size: 14px;
  row-gap: 2px;
  column-gap: 2px;
  grid-template-columns: repeat(8, 1fr);
  width: min-content;
}
