.FactionSummary {
  display: flex;
  gap: var(--sixteen-pixel);
  justify-content: space-between;
  padding: 0 0 0 var(--eight-pixel);
  position: relative;
  width: 100%;
}

.VPGrid {
  position: relative;
  align-items: center;
  display: grid;
  font-size: var(--twenty-eight-pixel);
  justify-items: center;
}

.VPGrid :last-child {
  grid-column: 1 / 4;
}

.TechSummaryGrid {
  display: grid;
  font-size: var(--fourteen-pixel);
  gap: var(--four-pixel);
  grid-template-columns: repeat(5, 1fr);
  width: min-content;
}

.TechSummaryGrid > :last-child {
  grid-column: 2 / 5;
}
