.hoverLabel::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-right: 12px solid transparent;
  border-top: 12px solid var(--color);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.innerHoverLabel::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: -2px;
  left: -2px;
  border-right: 12px solid transparent;
  border-top: 12px solid var(--color);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}
