.LeftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 17.5rem;

  position: sticky;
  top: 3.25rem;
  min-height: calc(100dvh - 6.5rem);
}

.MainColumn {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 0.5rem;
  min-height: calc(100dvh - 6.5rem);
}

@media only screen and (max-width: 56.25rem) {
  .LeftColumn {
    height: calc(100svh - 15rem);
  }

  .MainColumn {
    height: fit-content;
    margin-top: 0;
  }
}

@media only screen and (max-width: 37.5rem) {
  .LeftColumn {
    display: none;
  }

  .MainColumn {
    padding-top: 3rem;
  }
}
