.FactionTile {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 3px solid var(--color);
  border-radius: 0.3125rem;
  background-color: #222;
  padding: 0 0.25rem;

  white-space: nowrap;
}

.FactionTile .Body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;

  padding: 0 0.25rem;
}

.FactionTile .Icon {
  position: absolute;
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  z-index: 0;
}

.FactionTile .Name {
  position: relative;

  text-align: center;
}
