.OuterIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--width);
  height: var(--height);
}

.TechIcon {
  position: relative;
  width: var(--width);
  height: var(--height);
}
