.UnitStats {
  font-size: 12rem;
}

.UpgradeTechAbilities {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  font-size: 2rem;
}

@media only screen and (max-width: 56.25rem) {
  .UnitStats {
    font-size: 5rem;
  }

  .UpgradeTechAbilities {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: 1.2rem;
  }
}