.LeftColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  position: sticky;

  top: 9rem;
  min-height: calc(100dvh - 18rem);
}

.ActivePlayerColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;

  padding-top: 1.75rem;
}

.ActivePlayerSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  width: 100%;
  min-width: 22.5rem;
  min-height: 13.75rem;
}

.PromissoryMenu {
  position: absolute;
  top: 0;
  right: 0;
}

.EndTurnButton {
  font-size: 1.5rem;
}

@media only screen and (max-width: 75rem) {
  .ActivePlayerColumn {
    padding-top: 2.5rem;
  }
  .EndTurnButton {
    font-size: 1.25rem;
  }

  .PromissoryMenu {
    right: unset;
    left: 0;
  }
}
@media only screen and (max-width: 68.75rem) {
  .LeftColumn {
    min-height: calc(100dvh - 12.5rem);
  }

  .EndTurnButton {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 44rem) {
  .LeftColumn {
    display: none;
  }

  .ActivePlayerColumn {
    padding-top: 3rem;
    width: calc(100vw - 1.25rem);

    height: calc(100dvh - 8.125rem);
  }

  .ActivePlayerSection {
    align-items: flex-start;
  }
}
