.Filters {
  width: 100%;
}

.StatsPage {
  width: 100%;
  height: calc(100dvh - 3.5rem);
  padding-top: 0.25rem;
  font-family: Source Sans;
}

.FilterContent > :global(.flexRow) {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.DataSection {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: space-evenly;
}

.GameDataSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.125rem;
}

.DetailsSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.25rem;
  height: calc(100dvh - 19.125rem);
  overflow-y: scroll;
}

@media only screen and (max-width: 56.25rem) {
  .Filters {
    width: 100%;
  }

  .FilterContent > :global(.flexRow) {
    overflow-y: scroll;
    width: 100%;
    flex-wrap: nowrap;
  }

  .DataSection {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .GameDataSection {
    position: relative;
    top: unset;
    left: unset;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
  }

  .StatsPage {
    margin-top: 0;
  }

  .DetailsSection {
    height: fit-content;
    overflow-y: auto;
  }
}

@media only screen and (max-width: 37.5rem) {
}
